/* index.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-card {
    position: relative;
    max-width: 650px;
    margin: auto;
    padding: 55px 20px 25px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}
/* nav bar */
.custom-navbar {
  padding: 20px;
    
}
.nav-left {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}
.nav-text {
   display: flex;
   flex-direction: column;
}
.nav-text h3 {
   margin: 0;
   font-weight: 600;
}
.nav-text small {
   margin-top: 2px;
   display: block;
   line-height: 1.0;
}
.upload-text h5{
    text-align: start;
    margin: 0;
    font-size: 19px;   
}
input.form-control {
  background-color: rgba(0, 0, 0, 0.01) !important; 
  border: 1px solid #ced4da;
  color: #000;
}

.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: rgba(152, 158, 183, 0.954);
  color: #fefefe;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 130%;
  transform: translateY(-50%);
  width: 220px;
  background-color: rgba(244, 241, 241, 0.84);
  color: black;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.4;
  z-index: 10;
  transition: opacity 0.2s ease;
}

/* Arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

/* Show on hover or tap */
.tooltip-container:hover .tooltip-text,
.tooltip-container:focus-within .tooltip-text {
  visibility: visible;
  opacity: 1;
}

